title = "高动量"
description = "持有动量最高的ETF"

tickers = [
  "159593", # 中证A50ETF
  "159338", # 中证A500ETF
  "510500", # 中证500ETF
  "159949", # 创业板50ETF
  "510900", # 恒生H股ETF
  "513180", # 恒生科技ETF
  "515180", # 中证红利ETF
  "159263", # 国证价值100ETF
  "159222", # 国证自由现金流ETF
  "513100", # 纳斯达克100ETF
  "513500", # 标普500ETF
  "518880", # 黄金ETF
  "511260", # 十年国债ETF
  "511180", # 可转债ETF
  "516650", # 有色金属ETF
  "162411", # 华宝油气LOF
  "159985", # 豆粕期货ETF
]

[[rules]]
name = "hold_by_momentum"
frequency = "1m"

[rules.options]
bias_weight = -0.8
efficiency_weight = 0
limit = 2
lookback_trade_days = 250
ma_period = 21
regression_r2_adjust = true
weight_method = "filter_max(0.5)"

[rules.search]
# frequency = ["2w", "3w", "1m", "2m", "3m", "4m"]
# bias_weight = [-1, -0.8, -0.6, -0.4, -0.2, 0, 0.2, 0.4, 0.6, 0.8, 1]
# efficiency_weight = [0, 0.2, 0.4, 0.6, 0.8, 1]
# limit = [1, 2, 3, 4, 5]
# lookback_trade_days = [63, 125, 250, 375, 500]
# ma_period = [21, 42, 63, 125]
# regression_r2_adjust = [true, false]
# weight_method = [
#   "equal",
#   "filter_max(0.9)",
#   "filter_max(0.8)",
#   "filter_max(0.7)",
#   "filter_max(0.6)",
#   "filter_max(0.5)",
#   "filter_max(0.4)",
# ]

[[rules]]
name = "resize_by_spike"
frequency = "1d"

[rules.options]
spike_days = 1
spike_fall_threshold = -0.01
spike_rise_threshold = 0.04

[rules.search]
# spike_days = [1, 2, 3]
# spike_fall_threshold = [-0.015, -0.01, -0.005, 0, 0.005, 0.01, 0.015]
# spike_rise_threshold = [0.03, 0.035, 0.04, 0.045, 0.05]
