title = "高动量"
description = "持有动量最高的ETF"

tickers = [
  "510300", # 沪深300ETF
  "159338", # 中证A500ETF
  "510500", # 中证500ETF
  "159949", # 创业板50ETF
  "510900", # 恒生H股ETF
  "513180", # 恒生科技ETF
  "512090", # MSCI中国A股ETF
  "515180", # 中证红利ETF
  "515450", # 红利低波50ETF
  "513100", # 纳斯达克100ETF
  "513500", # 标普500ETF
  "518880", # 黄金ETF
  "511260", # 十年国债ETF
  "511180", # 可转债ETF
  "516650", # 有色金属ETF
  "162411", # 华宝油气LOF
  "159985", # 豆粕期货ETF
]

[[rules]]
name = "hold_by_momentum"
frequency = "1w"

[rules.options]
limit = 1
lookback_trade_days = 252
max_drawdown_quantile_upper = 1
volatility_quantile_upper = 1
weight_exp = 0

[rules.search]
frequency = ["3d", "1w", "2w", "3w", "4w"]
limit = [1, 2, 3, 4, 5]
# lookback_trade_days = [21, 42, 63, 84, 126, 189, 252]
# max_drawdown_quantile_upper = [0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1]
# volatility_quantile_upper = [0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1]
# weight_exp = [0, 0.25, 0.5, 1.0, 2.0, 4.0]
