title = "高动量夏普"
description = "持有动量和夏普综合评分最高的ETF"

tickers = [
  "510300", # 沪深300ETF
  "159338", # 中证A500ETF
  "510500", # 中证500ETF
  "159949", # 创业板50ETF
  "510900", # 恒生H股ETF
  "513180", # 恒生科技ETF
  "512090", # MSCI中国A股ETF
  "515180", # 中证红利ETF
  "515450", # 红利低波50ETF
  "513100", # 纳斯达克100ETF
  "513500", # 标普500ETF
  "518880", # 黄金ETF
  "511260", # 十年国债ETF
  "511180", # 可转债ETF
  "516650", # 有色金属ETF
  "162411", # 华宝油气LOF
  "159985", # 豆粕期货ETF
]

[[rules]]
name = "hold_by_momentum_sharpe"
frequency = "6m"

[rules.options]
factor_momentum_weight = 5
factor_sharpe_weight = 1
limit = 3
lookback_trade_days = 126
weight_exp = 0

[rules.search]
# frequency = ["1m", "2m", "3m", "4m", "6m", "9m", "1y"]
factor_momentum_weight = [0, 1, 2, 3, 5]
factor_sharpe_weight = [0, 1, 2, 3, 5]
# limit = [2, 3, 4, 5]
# lookback_trade_days = [21, 42, 63, 84, 126, 189, 252]
# weight_exp = [0, 0.25, 0.5, 1.0, 2.0, 4.0]
