title = "高动量"
description = "持有动量最高的ETF"

tickers = [
  "159593", # 中证A50ETF
  "159338", # 中证A500ETF
  "510500", # 中证500ETF
  "159949", # 创业板50ETF
  "510900", # 恒生H股ETF
  "513180", # 恒生科技ETF
  "515180", # 中证红利ETF
  "159263", # 国证价值100ETF
  "159222", # 国证自由现金流ETF
  "513100", # 纳斯达克100ETF
  "513500", # 标普500ETF
  "518880", # 黄金ETF
  "511260", # 十年国债ETF
  "511180", # 可转债ETF
  "516650", # 有色金属ETF
  "162411", # 华宝油气LOF
  "159985", # 豆粕期货ETF
]

[[rules]]
name = "hold_by_momentum"
frequency = "3m"

[rules.options]
limit = 2
lookback_trade_days = 250
ma_period = 0
momentum_lower = 0
regression_r2_adjust = false
volatility_quantile_upper = 1
weight_method = "filter_max(0.8)"

[rules.search]
# frequency = ["2w", "3w", "1m", "2m", "3m", "4m"]
# limit = [1, 2, 3, 4, 5]
# lookback_trade_days = [63, 125, 250, 375, 500]
# ma_period = [0, 63, 125, 250]
# momentum_lower = [-0.1, -0.05, 0, 0.05, 0.1]
# regression_r2_adjust = [true, false]
# volatility_quantile_upper = [0.8, 0.85, 0.9, 0.95, 1]
weight_method = [
  "equal",
  "filter_max(0.9)",
  "filter_max(0.8)",
  "filter_max(0.7)",
  "filter_max(0.6)",
  "filter_max(0.5)",
]
