title = "高动量"
description = "持有动量最高的ETF"

tickers = [
  "510300", # 沪深300ETF
  "159338", # 中证A500ETF
  "510500", # 中证500ETF
  "159949", # 创业板50ETF
  "510900", # 恒生H股ETF
  "513180", # 恒生科技ETF
  "512090", # MSCI中国A股ETF
  "515180", # 中证红利ETF
  "515450", # 红利低波50ETF
  "159263", # 国证价值100ETF
  "159222", # 国证自由现金流ETF
  "513100", # 纳斯达克100ETF
  "513500", # 标普500ETF
  "518880", # 黄金ETF
  "511260", # 十年国债ETF
  "511180", # 可转债ETF
  "516650", # 有色金属ETF
  "162411", # 华宝油气LOF
  "159985", # 豆粕期货ETF
]

[[rules]]
name = "hold_by_momentum"
frequency = "4w"

[rules.options]
limit = 1
lookback_trade_days = 250
volatility_quantile_upper = 1
weight_method = "equal"

[rules.search]
frequency = ["1w", "2w", "3w", "4w", "2m", "3m", "4m"]
# limit = [1, 2, 3, 4, 5]
# lookback_trade_days = [63, 125, 250, 375, 500]
# volatility_quantile_upper = [0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1]
# weight_method = ["equal", "grad(2)", "grad(3)", "grad(4)", "grad(5)"]
