title = "小盘股优选"
description = "优选中小板指的低市值股票"

# 大概率过拟合，暂时先不开启
# options.suspend_months = [1]

[[ticker_sources]]
source = "399101.CNI"
source_type = "index"

[[rules]]
name = "hold_by_small_cap"
frequency = "6w"

[rules.options]
arr_quantile_lower = 0.1
limit = 10
lookback_trade_days = 63
skip_same_sector = false
skip_st = true
volatility_quantile_upper = 0.9
weight_exp = 0

[rules.search]
frequency = ["1w", "2w", "4w", "6w", "8w"]
# limit = [3, 4, 5, 10, 20]
# arr_quantile_lower = [0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7]
# lookback_trade_days = [21, 42, 63, 84, 126, 189, 252]
# skip_same_sector = [true, false]
# volatility_quantile_upper = [0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1]
# weight_exp = [0, 0.25, 0.5, 1, 2, 4]
