title = "小盘股优选"
description = "优选中小板指的低市值股票"

# 大概率过拟合，暂时先不开启
# options.suspend_months = [1]

[[ticker_sources]]
source = "399101.CNI"
source_type = "index"

[[rules]]
name = "hold_by_small_cap"
frequency = "1m"

[rules.options]
arr_quantile_lower = 0.2
limit = 5
lookback_trade_days = 250
skip_same_sector = false
skip_st = true
volatility_quantile_upper = 0.9
weight_method = "equal"

[rules.search]
# frequency = ["15d", "1m", "2m", "3m"]
# limit = [3, 4, 5, 7, 10]
arr_quantile_lower = [0, 0.1, 0.2, 0.3]
# lookback_trade_days = [63, 125, 188, 250, 375, 500]
# skip_same_sector = [true, false]
volatility_quantile_upper = [0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1]
