title = "小盘股优选"
description = "优选中小板指的低市值股票"
options.suspend_months = []  # 大概率过拟合，暂时先不开启 options.suspend_months = [1]

[[ticker_sources]]
source = "399101.CNI"
source_type = "index"

[[rules]]
name = "hold_by_small_cap"
frequency = "1m"

[rules.options]
arr_quantile_lower = 0
circulating_ratio_lower = 0.3
limit = 5
lookback_trade_days = 250
pb_quantile_upper = 0.8
skip_same_sector = false
volatility_quantile_upper = 1
weight_method = "equal"

[rules.search]
# frequency = ["15d", "1m", "2m", "3m"]

[rules.search.options]
# limit = [3, 4, 5, 7, 10]
arr_quantile_lower = [0, 0.1, 0.2, 0.3]
# circulating_ratio_lower = [0.2, 0.3, 0.4, 0.5, 0.6, 0.7]
# lookback_trade_days = [63, 125, 188, 250, 375, 500]
pb_quantile_upper = [0.7, 0.8, 0.9, 1]
# skip_same_sector = [true, false]
volatility_quantile_upper = [0.7, 0.8, 0.9, 1]

# 注意在交易日观察，如果某个标的尖峰上涨超过阈值，则清仓并在后续重新建仓
[[rules]]
name = "resize_by_spike"
frequency = "1d"

[rules.options]
spike_days = 3
spike_fall_threshold = 0.1
spike_rise_threshold = 0.2

# [rules.search.options]
# spike_days = [1, 2, 3, 4, 5]
# spike_fall_threshold = [0, 0.1, 0.2, 0.3]
# spike_rise_threshold = [0.1, 0.2, 0.3]
